body {
  background-image: url("https://images.pexels.com/photos/1431822/pexels-photo-1431822.jpeg");
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #c9bbcf;
  text-shadow: 2px 2px #11324d;
}